@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /* Very cool hack to make everything super smooth */
  transition: all 0.2s ease-in-out;
}